<form class="col-xs-12" name="paintingForm" ng-controller="PaintingController as paintingCtrl" ng-submit="paintingForm.$valid && paintingCtrl.addPainting()" novalidate>
    <hr>
    <h2 id="form-header">Add New Painting</h2>
    <hr>
    <div class="col-xs-12">
        <div class="form">
            <div>
                <input class="form-control" ng-model="paintingCtrl.painting.url" placeholder="URL" type="text" required/>
                <input class="form-control" ng-model="paintingCtrl.painting.title" placeholder="Title" type="text" required/>
                <input class="form-control" ng-model="paintingCtrl.painting.artist" placeholder="Artist" type="text" required/>
            </div>
            <textarea class="form-control" id="textarea" ng-model="paintingCtrl.painting.notes" placeholder="Notes"></textarea>
            <button class="btn btn-md float-left toggle-button" type='button' ng-click="paintingCtrl.toggleDraft()">Toggle Draft View</button>
            <input class="btn btn-md float-right" type="submit" value="Submit" />
        </div>
    </div>

    <div class="painting col-xs-12 col-sm-6 col-md-4" ng-show="paintingCtrl.draftIsActive">
        <h1>{{paintingCtrl.painting.title | uppercase}} - {{paintingCtrl.painting.artist}}</h1>
        <p><em class="pull-right">Added on: Feb 35, 3012</em></p>
        <p>{{paintingCtrl.painting.notes}}</p>
        <img ng-src="{{paintingCtrl.painting.url}}" class="centered">
    </div>
</form>
